<phpunit >
    <testsuite name="Match">
        <directory suffix="Test.php">tests/Match</directory>
    </testsuite>
    <testsuite name="Player">
        <directory suffix="Test.php">tests/Player</directory>
    </testsuite>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>
</phpunit>
